<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<title>달성어린이숲도서관</title>
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1" name="viewport" />
		<link href="../../../../resources/homepage/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/main.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/jquery.fullpage.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/default_new_fullpage.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/common.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
		<script src="../../../../resources/homepage/plugin/jquery-1.12.4.min.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/js/main.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/js/common.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/default-new-fullpage.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/jquery.fullpage.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/jquery.bxslider.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/jquery.mmenu.min.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/jquery-ui-1.12.0.min.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/plugin/jquery-ui-1.12.0-datepicker.min.js" type="text/javascript"></script>
	</head>
	<script type="text/javascript">
		$(function () {
			$('#homeup').click(function () {
				$('body,html').animate(
					{
						scrollTop: 0,
					},
					800
				);
				return false;
			});

			$('div#calendar-box').load('calendar3.do');
			$('div#holiday-box').load('calendar5.do?homepage_id=h46');
			$('ul.book_photo').eq(1).load('newBook.do');
			$('ul.bestBookUl').load('bestBook.do');

			$('#main-search-btn').on('click', function () {
				if ($('input#search_text_1').val() == '') {
					alert('검색어를 입력하세요.');
					$('input#search_text_1').focus();
					return false;
				}
				$('#mainSearchForm').submit();
			});
		});
	</script>
	<body>
		<div id="wrap">
			<div id="header">
				<nav id="menu"></nav>
				<div class="tnb">
					<div class="main-section">
						<div class="libSite">
							<ul>
								<li class="on"><a href="#this">달성어린이숲</a></li>
								<li><a href="#this">달성군립</a></li>
								<li><a href="#this">작은</a></li>
								<li><a href="#this">전자도서관</a></li>
								<li class="br"><a href="#this" target="_blank">달성교육재단</a></li>
							</ul>
						</div>

						<h1 class="mobile-logo"><a href="/bukgs/index.do">달성어린이숲도서관</a></h1>

						<div class="mmode m-menu">
							<a href="#menu"><i class="fa fa-navicon"></i><span class="blind">메뉴</span></a>
						</div>

						<div class="util">
							<a href="#this">통합허브시스템 로그인</a>
							<span class="txt-bar"></span>
							<a href="#this">통합회원인증</a>
							<span class="txt-bar"></span>
							<a href="#this">회원가입</a>
						</div>
					</div>
				</div>
				<div class="head">
					<div class="Gnb">
						<h2 class="blind">주메뉴</h2>
						<div class="main-section">
							<h1 class="web-logo"><a href="#this">달성어린이숲도서관</a></h1>
							<!-- menu S -->
							<div class="g-menu">
								<ul class="gnb-menu">
									<li class="List 1Depth menu1 menu_1">
										<a href="#this"><span>자료검색</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_9">
												<a href="#this"><span>통합자료검색</span></a>
											</li>
											<li class="2Depth menu_83">
												<a href="#this"><span>스마트도서관 자료검색</span></a>
											</li>
											<li class="2Depth menu_10">
												<a href="#this"><span>신착자료</span></a>
											</li>
											<li class="2Depth menu_11">
												<a href="#this"><span>대출베스트</span></a>
											</li>
											<li class="2Depth menu_14">
												<a href="#this"><span>희망도서신청</span></a>
												<ul>
													<li class="3Depth menu_15">
														<a href="#this"><span>희망도서신청안내</span></a>
													</li>
													<li class="3Depth menu_16">
														<a href="#this"><span>희망도서신청</span></a>
													</li>
													<li class="3Depth menu_113">
														<a href="#this"><span>희망도서신청내역</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_119">
												<a href="#this"><span>희망도서바로대출</span></a>
											</li>
											<li class="2Depth menu_13">
												<a href="#this"><span>추천도서</span></a>
												<ul>
													<li class="3Depth menu_84">
														<a href="#this"><span>유·아동</span></a>
													</li>
													<li class="3Depth menu_85">
														<a href="#this"><span>일반</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_12">
												<a href="#this"><span>연속간행물목록</span></a>
												<ul>
													<li class="3Depth menu_110">
														<a href="#this"><span>잡지</span></a>
													</li>
													<li class="3Depth menu_111">
														<a href="#this"><span>신문</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_86">
												<a href="#this"><span>DVD자료</span></a>
											</li>
										</ul>
									</li>
									<li class="List 1Depth menu2 menu_2">
										<a href="#this"><span>이용안내</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_17">
												<a href="#this"><span>회원가입안내</span></a>
											</li>
											<li class="2Depth menu_18">
												<a href="#this"><span>이용시간 및 휴관일</span></a>
											</li>
											<li class="2Depth menu_19">
												<a href="#this"><span>도서대출/반납</span></a>
											</li>
											<li class="2Depth menu_91">
												<a href="#this"><span>스마트도서관</span></a>
											</li>
											<li class="2Depth menu_141">
												<a href="#this"><span>미디어창작실</span></a>
												<ul>
													<li class="3Depth menu_133">
														<a href="#this"><span>미디어창작실</span></a>
													</li>
													<li class="3Depth menu_140">
														<a href="#this"><span>메타버스 미디어창작실</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_136">
												<a href="#this"><span>무인예약대출서비스</span></a>
											</li>
											<li class="2Depth menu_21">
												<a href="#this"><span>책이음서비스</span></a>
											</li>
											<li class="2Depth menu_92">
												<a href="#this"><span>상호대차 서비스</span></a>
											</li>
											<li class="2Depth menu_22">
												<a href="#this"><span>책나래</span></a>
											</li>
											<li class="2Depth menu_23">
												<a href="#this"><span>책바다</span></a>
											</li>
											<li class="2Depth menu_127">
												<a href="#this"><span>도서관견학</span></a>
												<ul>
													<li class="3Depth menu_128">
														<a href="#this"><span>도서관견학안내</span></a>
													</li>
													<li class="3Depth menu_129">
														<a href="#this"><span>도서관견학신청</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_24">
												<a href="#this"><span>사서에게물어보세요</span></a>
											</li>
										</ul>
									</li>
									<li class="List 1Depth menu3 menu_3">
										<a href="#this"><span>독서문화행사</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_26">
												<a href="#this"><span>문화행사</span></a>
												<ul>
													<li class="3Depth menu_95">
														<a href="#this"><span>행사참여신청</span></a>
													</li>
													<li class="3Depth menu_27">
														<a href="#this"><span>도서관의 날・도서관주간</span></a>
													</li>
													<li class="3Depth menu_28">
														<a href="#this"><span>독서의달</span></a>
													</li>
													<li class="3Depth menu_94">
														<a href="#this"><span>독서캠프</span></a>
													</li>
													<li class="3Depth menu_115">
														<a href="#this"><span>독서퀴즈</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_30">
												<a href="#this"><span>문화강좌</span></a>
												<ul>
													<li class="3Depth menu_31">
														<a href="#this"><span>평생학습프로그램</span></a>
													</li>
													<li class="3Depth menu_32">
														<a href="#this"><span>문화강좌신청</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_137">
												<a href="#this"><span>홍보기자단</span></a>
											</li>
											<li class="2Depth menu_114">
												<a href="#this"><span>작은도서관 강좌 및 행사</span></a>
											</li>
											<li class="2Depth menu_33">
												<a href="#this"><span>독서회</span></a>
												<ul>
													<li class="3Depth menu_96">
														<a href="#this"><span>성인독서회</span></a>
													</li>
													<li class="3Depth menu_97">
														<a href="#this"><span>어린이독서회</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_34">
												<a href="#this"><span>영화상영</span></a>
											</li>
										</ul>
									</li>
									<li class="List 1Depth menu4 menu_4">
										<a href="#this"><span>열린공간</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_35">
												<a href="#this"><span>공지사항</span></a>
											</li>
											<li class="2Depth menu_36">
												<a href="#this"><span>도서관일정</span></a>
											</li>
											<li class="2Depth menu_37">
												<a href="#this"><span>자주묻는질문(FAQ)</span></a>
											</li>
											<li class="2Depth menu_38">
												<a href="#this"><span>묻고답하기</span></a>
											</li>
											<li class="2Depth menu_41">
												<a href="#this"><span>자원봉사신청</span></a>
												<ul>
													<li class="3Depth menu_143">
														<a href="#this"><span>음악이흐르는도서관</span></a>
													</li>
													<li class="3Depth menu_144">
														<a href="#this"><span>청소년자원봉사</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_42">
												<a href="#this"><span>설문조사</span></a>
											</li>
											<li class="2Depth menu_125">
												<a href="#this"><span>칭찬릴레이</span></a>
											</li>
											<li class="2Depth menu_142">
												<a href="#this"><span>참여후기</span></a>
											</li>
										</ul>
									</li>
									<li class="List 1Depth menu5 menu_5">
										<a href="#this"><span>도서관소개</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_43">
												<a href="#this"><span>인사말</span></a>
											</li>
											<li class="2Depth menu_44">
												<a href="#this"><span>구수산도서관</span></a>
												<ul>
													<li class="3Depth menu_45">
														<a href="#this"><span>연혁</span></a>
													</li>
													<li class="3Depth menu_46">
														<a href="#this"><span>조직 및 업무</span></a>
													</li>
													<li class="3Depth menu_47">
														<a href="#this"><span>시설현황</span></a>
													</li>
													<li class="3Depth menu_48">
														<a href="#this"><span>자료현황</span></a>
													</li>
													<li class="3Depth menu_49">
														<a href="#this"><span>찾아오시는길</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_98">
												<a href="#this"><span>작은도서관</span></a>
											</li>
											<li class="2Depth menu_50">
												<a href="#this"><span>도서관갤러리</span></a>
											</li>
											<li class="2Depth menu_51">
												<a href="#this"><span>언론보도</span></a>
											</li>
										</ul>
									</li>
									<li class="List 1Depth menu6 menu_6">
										<a href="#this"><span>나의도서관</span></a>
										<ul class="SubMenu">
											<li class="2Depth menu_52">
												<a href="#this"><span>도서관련</span></a>
												<ul>
													<li class="3Depth menu_53">
														<a href="#this"><span>대출내역조회</span></a>
													</li>
													<li class="3Depth menu_54">
														<a href="#this"><span>대출중도서조회</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_59">
												<a href="#this"><span>문화강좌관련</span></a>
												<ul>
													<li class="3Depth menu_60">
														<a href="#this"><span>수강신청현황</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_61">
												<a href="#this"><span>견학신청현황</span></a>
											</li>
											<li class="2Depth menu_63">
												<a href="#this"><span>대구시민인증</span></a>
											</li>
											<li class="2Depth menu_65">
												<a href="#this"><span>개인정보</span></a>
												<ul>
													<li class="3Depth menu_66">
														<a href="#this"><span>정보수정</span></a>
													</li>
													<li class="3Depth menu_67">
														<a href="#this"><span>회원탈퇴</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_68">
												<a href="#this"><span>모바일회원증</span></a>
											</li>
											<li class="2Depth menu_130">
												<a href="#this"><span>스마트도서추천</span></a>
												<ul>
													<li class="3Depth menu_131">
														<a href="#this"><span>맞춤형도서추천</span></a>
													</li>
													<li class="3Depth menu_132">
														<a href="#this"><span>능동형도서추천</span></a>
													</li>
												</ul>
											</li>
											<li class="2Depth menu_146">
												<a href="#this"><span>내가 쓴 게시글 보기</span></a>
											</li>
										</ul>
									</li>
								</ul>

								<a href="#this" class="last-box_w"><img src="../../../../resources/homepage/img/common/hamberger.png" alt="사이트맵" /></a>
								<a href="#this" class="last-box_b"><img src="../../../../resources/homepage/img/common/hamberger.png" alt="사이트맵" /></a>
								<div class="mmode">
									<a href="/bukgs/intro/login/mobileCard.do?menu_idx=68" class="btn4">
										<i class="fa fa-bookmark"></i>
										<span>모바일회원증</span>
									</a>

									<a href="/bukgs/intro/login/index.do?menu_idx=69" class="btn1">
										<i class="fa fa-lock"></i>
										<span style="letter-spacing: -1.5px">로그인</span>
									</a>
									<a href="/bukgs/intro/join/index.do?menu_idx=70" class="btn2">
										<i class="fa fa-user-plus"></i>
										<span style="letter-spacing: -1.5px">회원가입</span>
									</a>
									<a href="/bukgs/intro/join/integration.do?menu_idx=73" class="btn2">
										<i class="fa fa-user-plus"></i>
										<span style="letter-spacing: -1.5px">통합인증</span>
									</a>
								</div>
							</div>
							<!-- menu E -->
						</div>
						<div class="mask">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="popupWrap main-section">
				<div id="popupLayer"></div>
			</div>
			<div id="fullpage">
				<!-- main0 -->
				<div class="section" id="main0">
					<div class="main-visual">
						<div class="main_txtarea">
							<span>미래를 품고 꿈꾸는 공간</span>
							<h1>달성어린이숲도서관</h1>
						</div>
						<!-- main_search -->
						<div class="search-area" id="main_search">
							<form id="mainSearchForm" action="/bukgs/intro/search/index.do">
								<input type="hidden" name="menu_idx" value="9" />
								<input type="hidden" name="booktype" value="BOOKANDNONBOOK" />
								<input type="hidden" name="_csrf" value="1fb5d19a-e79f-40b9-b9a7-330460effb42" />
								<fieldset>
									<legend class="blind">통합검색</legend>
									<div class="main-box">
										<select id="search_type" name="search_type" class="search_type">
											<option value="L_TITLE">도서명</option>
											<option value="L_AUTHOR">저자</option>
											<option value="L_PUBLISHER">발행처</option>
											<option value="L_KEYWORD">키워드</option>
										</select>
										<div class="box1">
											<div class="box2">
												<label for="search_text_1" class="blind">통합자료검색</label>
												<input name="title" id="search_text_1" type="text" class="text" placeholder="검색어를 입력하세요." style="ime-mode: active" />
											</div>
										</div>
										<button id="main-search-btn">검색하기</button>
									</div>
								</fieldset>
							</form>
						</div>
						<!-- //Main_search -->
						<div class="mIcon">
							<ul>
								<li>
									<a href="#this" class="q01">
										<span><img src="../../../../resources/homepage/img/common/q01.svg" alt="자료이용안내" />자료이용안내</span>
									</a>
								</li>
								<li>
									<a href="#this" class="q02">
										<span><img src="../../../../resources/homepage/img/common/q02.svg" alt="평생학습프로그램" />평생학습프로그램</span>
									</a>
								</li>
								<li>
									<a href="#this" class="q03">
										<span><img src="../../../../resources/homepage/img/common/q03.svg" alt="문화행사신청" />문화행사신청</span>
									</a>
								</li>
								<li>
									<a href="#this" class="q04">
										<span><img src="../../../../resources/homepage/img/common/q05.svg" alt="희망도서신청" />희망도서신청</span>
									</a>
								</li>
								<li>
									<a href="#this" class="q05">
										<span><img src="../../../../resources/homepage/img/common/q06.svg" alt="자주묻는질문" />자주묻는질문</span>
									</a>
								</li>
								<li>
									<a href="#this" class="q06" target="_blank">
										<span><img src="../../../../resources/homepage/img/common/q07.svg" alt="찾아오시는길" />찾아오시는길</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="main_scroll"><div class="main_scroll_wp_white">scroll down</div></div>
					</div>
				</div>
				<!-- //main0 -->

				<!-- section1 -->
				<div class="section" id="main1">
					<div class="main-section">
						<div class="popup">
							<div class="popup_en">POPUPZONE</div>
							<div class="popup_kr">팝업존</div>
							<div class="popup_swiper">
								<div class="swiper-pagination"></div>
								<div class="swiper_action_wrapper">
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
									<c:if test="${fn:length(popupZoneList) > 1}"><img src="../../../../resources/homepage/img/common/stop.svg" alt="정지버튼" class="popup_autoplay" role="button" /></c:if>
								</div>
								<div class="swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="../../../../resources/homepage/img/common/Rectangle6.png" alt="${i.popup_zone_name}" />
										</div>
										<div class="swiper-slide">
											<img src="../../../../resources/homepage/img/common/Rectangle6.png" alt="${i.popup_zone_name}" />
										</div>
										<div class="swiper-slide">
											<img src="../../../../resources/homepage/img/common/Rectangle6.png" alt="${i.popup_zone_name}" />
										</div>

										<!-- 팝업 예외 처리 -->
										<!-- <div class="swiper-slide">
													<img src="/resources/common/img/noImg2.png" alt="" />
												</div>-->
									</div>
								</div>
							</div>
						</div>
						<div class="notice-box tabS">
							<ul class="tabMenuS">
								<li class="on"><a href="#tab1" data-link="/bukgs/board/index.do?menu_idx=35&manage_idx=699" class="t-tabs">공지사항</a></li>
								<li><a href="#tab2" data-link="/bukgs/module/teach/index.do?menu_idx=32" class="t-tabs">프로그램접수</a></li>
								<a href="/bukgs/board/index.do?menu_idx=35&manage_idx=699" class="btn-more2 more-more">더보기</a>
							</ul>

							<div class="news con" data-tab="tab1">
								<div class="box">
									<ul>
										<li class="important">
											<a href="/bukgs/board/view.do?menu_idx=35&manage_idx=699&board_idx=525227">
												<span class="time"><b>29</b><br />2024.11</span>
												<em>[채용] (재)행복북구문화재단 도서관운영본부 기간제 근로자 채용 공고</em>
											</a>
										</li>

										<li class="important">
											<a href="/bukgs/board/view.do?menu_idx=35&manage_idx=699&board_idx=525226">
												<span class="time"><b>29</b><br />2024.11</span>
												<em>[채용] (재)행복북구문화재단 구수산도서관 개관시간 연장지원 사업 기간제 근로자 채용 공고</em>
											</a>
										</li>

										<li>
											<a href="/bukgs/board/view.do?menu_idx=35&manage_idx=699&board_idx=525097">
												<span class="time"><b>29</b><br />2024.11</span>
												<em>[안내] 구수산도서관 12월 영화상영 안내</em>
											</a>
										</li>

										<li>
											<a href="/bukgs/board/view.do?menu_idx=35&manage_idx=699&board_idx=525084">
												<span class="time"><b>28</b><br />2024.11</span>
												<em>[안내] 2024년 &lt음악이 흐르는 도서관&gt 음악적 재능나눔형 프로그램 봉사자 모집</em>
											</a>
										</li>

										<li>
											<a href="/bukgs/board/view.do?menu_idx=35&manage_idx=699&board_idx=525030">
												<span class="time"><b>28</b><br />2024.11</span>
												<em>[안내] 2024년 구수산도서관 &lt12월 연말 행사&gt 안내</em>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="news con" data-tab="tab2" style="display: none">
								<div class="box">
									<ul>
										<li>
											<a href="/bukgs/module/teach/detail.do?menu_idx=95&searchCate1=16&group_idx=174&category_idx=0&teach_idx=21461&homepage_id=h46">
												<span class="time"><b>21</b><br />2024.12</span>
												<em><가족과 함께 해피 크리스마스></em>
											</a>
										</li>

										<li>
											<a href="/bukgs/module/teach/detail.do?menu_idx=95&searchCate1=16&group_idx=174&category_idx=0&teach_idx=21462&homepage_id=h46">
												<span class="time"><b>26</b><br />2024.12</span>
												<em><김재인 철학자와의 만남></em>
											</a>
										</li>

										<li>
											<a href="/bukgs/module/teach/detail.do?menu_idx=95&searchCate1=16&group_idx=174&category_idx=0&teach_idx=21463&homepage_id=h46">
												<span class="time"><b>28</b><br />2024.12</span>
												<em><명지쌤의 행복 Talk 콘서트></em>
											</a>
										</li>

										<li>
											<a href="/bukgs/module/teach/detail.do?menu_idx=95&searchCate1=16&group_idx=173&category_idx=0&teach_idx=21215&homepage_id=h46">
												<span class="time"><b>26</b><br />2024.11</span>
												<em>명지현과 함께하는 심리 상담소</em>
											</a>
										</li>

										<li>
											<a href="/bukgs/module/teach/detail.do?menu_idx=95&searchCate1=29&group_idx=132&category_idx=0&teach_idx=16145&homepage_id=h46">
												<span class="time"><b>29</b><br />2024.11</span>
												<em>Winter Season Theme</em>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="holiday-box">
						<div class="main-box">
							<div class="title">
								<h2>휴관일</h2>
								<a href="/bukgs/module/calendarManage/index.do?menu_idx=36" class="btn-more1 more-more">더보기</a>
							</div>
							<div id="holiday-box" class="holiday-section"><span>1</span>&nbsp;&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;&nbsp;</div>
						</div>
					</div>
					<div class="main_scroll"><div class="main_scroll_wp">scroll down</div></div>
				</div>
				<!-- //main1 -->

				<!-- main3 -->
				<div class="section" id="main3">
					<div class="main-section wid1450">
						<div class="book-box tabS">
							<ul class="tabMenuS">
								<li class="on"><a href="#tab1" class="t-tabs" data-link="/bukgs/board/index.do?menu_idx=85&manage_idx=697">추천도서</a></li>
								<li><a href="#tab2" class="t-tabs" data-link="/bukgs/intro/search/newBook/index.do?menu_idx=10">신착도서</a></li>
							</ul>
							<a href="/bukgs/board/index.do?menu_idx=85&manage_idx=697" class="btn-more2 more-more">더보기</a>

							<div class="box con" data-tab="tab1">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 1" /></a>
											<div class="hover-text">Book 1</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 2" /></a>
											<div class="hover-text">Book 2</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 3" /></a>
											<div class="hover-text">Book 3</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 4" /></a>
											<div class="hover-text">Book 4</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 5" /></a>
											<div class="hover-text">Book 5</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 6" /></a>
											<div class="hover-text">Book 6</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 7" /></a>
											<div class="hover-text">Book 7</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 8" /></a>
											<div class="hover-text">Book 8</div>
										</div>
									</div>
								</div>
							</div>

							<div class="box con" data-tab="tab2" style="display: none">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 1" /></a>
											<div class="hover-text">Book 1</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 2" /></a>
											<div class="hover-text">Book 2</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 3" /></a>
											<div class="hover-text">Book 3</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 4" /></a>
											<div class="hover-text">Book 4</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 5" /></a>
											<div class="hover-text">Book 5</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 6" /></a>
											<div class="hover-text">Book 6</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 7" /></a>
											<div class="hover-text">Book 7</div>
										</div>
										<div class="swiper-slide">
											<a href="#this"><img src="../../../../resources/homepage/img/common/book_noimg.png" alt="Book 8" /></a>
											<div class="hover-text">Book 8</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="end"></div>

					<div class="banner-box">
						<div class="main-section">
							<div class="main7_banner">
								<div class="banner-wrap type4">
									<div class="banner-t4">
										<div class="control">
											<a class="prev" href="#prev"><img src="../../../../resources/homepage/img/common/left.svg" alt="이전" /><span class="blind">이전</span></a>
											<a class="next" href="#next"><img src="../../../../resources/homepage/img/common/right.svg" alt="다음" /><span class="blind">다음</span></a>
										</div>
									</div>
									<div class="banner-box4">
										<ul class="banner-roll">
											<li>
												<span>
													<a href="http://www.daegu.go.kr/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle11.png" alt="대구시청" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.buk.daegu.kr/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle12.png" alt="북구청" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="http://library.daegu.go.kr/dgportal/index.do" target="_blank">
														<img src="../../../../resources/homepage/img/common/Rectangle13.png" alt="대구지역공공도서관통합검색" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.nanet.go.kr/main.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle14.png" alt="국회도서관" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.nl.go.kr" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle15.png" alt="국립중앙도서관" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.nlcy.go.kr/NLCY/main/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle16.png" alt="국립어린이청소년도서관" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.moe.go.kr/main.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle11.png" alt="교육부" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.mcst.go.kr/kor/main.jsp" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle12.png" alt="문화체육관광부" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://books.nl.go.kr" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle13.png" alt="책이음서비스" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://books.nl.go.kr" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle14.png" alt="책바다" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://cn.nld.go.kr/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle15.png" alt="책나래" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.nl.go.kr/NL/contents/N30502000000.do" target="_blank">
														<img src="../../../../resources/homepage/img/common/Rectangle16.png" alt="사서에게물어보세요" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.keris.or.kr/main/main.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle11.png" alt="한국교육학술정보원" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.data.go.kr/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle12.png" alt="공공데이터포털" /></a
												></span>
											</li>
											<li>
												<span>
													<a href="https://www.nl.go.kr/kolisnet/index.do" target="_blank"> <img src="../../../../resources/homepage/img/common/Rectangle13.png" alt="코리스넷" /></a
												></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //main3 -->

				<!-- footer_section -->
				<div class="section fp-auto-height footer_area" id="foot_section">
					<div class="mFooter">
						<div class="top">
							<div class="info">
								<a href="/bukgs/html.do?menu_idx=75"><b>개인정보처리방침</b></a>
								<span class="bar">|</span>
								<a href="/bukgs/html.do?menu_idx=109">영상정보처리방침</a>
								<span class="bar">|</span>
								<a href="/bukgs/html.do?menu_idx=78">도서관서비스헌장</a>
								<span class="bar">|</span>
								<a href="/bukgs/html.do?menu_idx=80">뷰어다운로드</a>
							</div>
						</div>

						<div class="middle">
							<div class="sections">
								<div class="sections">
									<div class="address_sections">
										<p>
											<em>(42998) 대구 달성군 현풍읍 현풍동로19길 26</em><br class="mobileBr" />
											<em>전화 <b> 053-231-2150 </b></em>
											<em>팩스 <b> 053-615-7975</b></em>
										</p>
										<p class="copyright">Copyright ⓒ 대구달성어린이숲도서관. All rights reserved.</p>
									</div>
									<div class="site_link">
										<div>
											<div>
												<a class="fsite type1">
													<span class="f1">대구광역시 공공도서관</span>
													<span class="f2"><i></i></span
												></a>
												<ul style="display: none">
													<li class="disabled"><a title="대구광역시통합도서관" href="http://library.daegu.go.kr/dgportal/index.do">대구광역시통합도서관</a></li>
													<li class="disabled"><a title="대구2ㆍ28기념학생도서관" href="http://library.daegu.go.kr/228/index.do">대구2ㆍ28기념학생도서관</a></li>
													<li class="disabled"><a title="대구2ㆍ28민주운동기념회관" href="http://library.daegu.go.kr/228lib/index.do">대구2ㆍ28민주운동기념회관</a></li>
													<li class="disabled"><a title="국채보상운동기념도서관" href="https://library.daegu.go.kr/gukbo/index.do">국채보상운동기념도서관</a></li>
													<li class="disabled"><a title="남부도서관" href="http://library.daegu.go.kr/nambu/index.do">남부도서관</a></li>
													<li class="disabled"><a title="달성도서관" href="http://library.daegu.go.kr/dalseong/index.do">달성도서관</a></li>
													<li class="disabled"><a title="동부도서관" href="http://library.daegu.go.kr/dongbu/index.do">동부도서관</a></li>
													<li class="disabled"><a title="두류도서관" href="http://library.daegu.go.kr/duryu/index.do">두류도서관</a></li>
													<li class="disabled"><a title="북부도서관" href="http://library.daegu.go.kr/bukbu/index.do">북부도서관</a></li>
													<li class="disabled"><a title="삼국유사군위도서관" href="http://library.daegu.go.kr/gw/index.do">삼국유사군위도서관</a></li>
													<li class="disabled"><a title="북부도서관" href="http://library.daegu.go.kr/seobu/index.do">서부도서관</a></li>
													<li class="disabled"><a title="수성도서관" href="http://library.daegu.go.kr/suseong/index.do">수성도서관</a></li>

													<!-- <li class="disabled"><a href="#">대구광역시 공공도서관</a></li> -->
													<li class="disabled"><a title="남구대명어울림도서관" href="http://library.daegu.go.kr/namdm/index.do">남구대명어울림도서관</a></li>
													<li class="disabled"><a title="남구이천어울림도서관" href="http://library.daegu.go.kr/namic/index.do">남구이천어울림도서관</a></li>
													<li class="disabled"><a title="달서구립도서관" href="http://library.daegu.go.kr/dalseolib/index.do">달서구통합도서관</a></li>
													<li class="disabled"><a title="달성군립도서관" href="http://library.daegu.go.kr/dalseonglib/index.do">달성군립도서관</a></li>
													<li class="disabled"><a title="동구통합도서관" href="http://library.daegu.go.kr/donggu/index.do">동구통합도서관</a></li>
													<li class="disabled"><a title="북구구수산도서관" href="http://library.daegu.go.kr/bukgs/index.do">북구구수산도서관</a></li>
													<li class="disabled"><a title="북구대현도서관" href="http://library.daegu.go.kr/bukdh/index.do">북구대현도서관</a></li>
													<li class="disabled"><a title="북구태전도서관" href="http://library.daegu.go.kr/buktj/index.do">북구태전도서관</a></li>
													<li class="disabled"><a title="서구통합도서관" href="http://library.daegu.go.kr/seogulib/index.do">서구통합도서관</a></li>
													<li class="disabled"><a title="수성구범어도서관" href="http://library.daegu.go.kr/beomeo/index.do">수성구범어도서관</a></li>
													<li class="disabled"><a title="수성구용학도서관" href="http://library.daegu.go.kr/yonghak/index.do">수성구용학도서관</a></li>
													<li class="disabled"><a title="수성구고산도서관" href="http://library.daegu.go.kr/gosan/index.do">수성구고산도서관</a></li>
													<li class="disabled"><a title="중구통합도서관" href="http://library.daegu.go.kr/junggu/index.do">중구통합도서관</a></li>
												</ul>
											</div>
											<a href="#" class="btn">이동</a>
										</div>
										<div>
											<div>
												<a class="fsite type1">
													<span class="f1">교육 및 지역관련기관</span>
													<span class="f2"><i></i></span
												></a>
												<ul style="display: none">
													<li class="disabled"><a href="#">교육 및 지역관련기관</a></li>
													<li class="disabled"><a title="대구광역시교육청" href="http://www.dge.go.kr">대구광역시교육청</a></li>
													<li class="disabled"><a title="동부교육지원청" href=" https://www.dge.go.kr/dgdbe/main.do">동부교육지원청</a></li>
													<li class="disabled"><a title="서부교육지원청" href="https://www.dge.go.kr/dgsbe/main.do">서부교육지원청</a></li>
													<li class="disabled"><a title="남부교육지원청" href="https://www.dge.go.kr/dgnbe/main.do">남부교육지원청</a></li>
													<li class="disabled"><a title="달성교육지원청" href="https://www.dge.go.kr/dgdse/main.do">달성교육지원청</a></li>
													<li class="disabled"><a title="대구광역시교육연수원" href="http://edu.deti.or.kr">대구광역시교육연수원</a></li>
													<li class="disabled"><a title="대구창의융합교육원" href="http://www.dge.go.kr/dicce">대구창의융합교육원</a></li>
													<li class="disabled"><a title="대구학생문화센터" href="http://www.dge.go.kr/dccs">대구학생문화센터</a></li>
													<li class="disabled"><a title="대구미래교육연구원" href="http://www.dge.go.kr/dferi">대구미래교육연구원</a></li>
													<li class="disabled"><a title="대구교육해양수련원" href="http://www.dge.go.kr/dgsea">대구교육해양수련원</a></li>
													<li class="disabled"><a title="대구광역시유아교육진흥원" href="http://www.dge.go.kr/daegu-i">대구광역시유아교육진흥원</a></li>
													<li class="disabled"><a title="대구교육낙동강수련원" href="http://www.dge.go.kr/dgeriver">대구교육낙동강수련원</a></li>
													<li class="disabled"><a title="대구교육팔공산수련원" href="http://www.dge.go.kr/palgongsan">대구교육팔공산수련원</a></li>
													<li class="disabled"><a title="대구교육박물관" href="http://www.dge.go.kr/dme">대구교육박물관</a></li>
													<li class="disabled"><a title="대구교육시설지원센터" href="http://www.dge.go.kr/defsc">대구교육시설지원센터</a></li>
													<li class="disabled"><a title="대구평생교육진흥원" href="https://dle.study.daegu.kr/index.do">대구평생교육진흥원</a></li>
												</ul>
											</div>
											<a href="#" class="btn">이동</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--<div class="home-up">
						<img src="/resources/homepage/bukgs/img/m-top-btn.png" alt="위로" id="homeup" />
					</div>-->
				</div>
				<!-- //footer_section -->
			</div>
		</div>
	</body>
	<script type="text/javascript">
		function fullPage() {
			var myFullpage = new fullpage('#fullpage', {
				anchors: ['firstPage', 'secondPage', '3rdPage'],
				navigation: true,
				showActiveTooltip: true,
				menu: '#menu',
				responsiveWidth: 1025,
				afterLoad: function (origin, destination, direction) {
					var cur_page = destination.index + 1;
					if (destination.index == 0) {
						$('#header').addClass('background-white');
						$('.Gnb').css('border-bottom', '0');
						$('.Gnb').css('background', 'none');
						$('.tnb').css('background', 'none');
					} else if (destination.index == 1) {
						$('#header').removeClass('background-white');
						$('.Gnb').css('border-bottom', '1px solid #e6e6e6');
						$('.Gnb').css('background', '#fff');
						$('.tnb').css('background', '#fff');
					} else if (destination.index == 2) {
						$('#header').removeClass('background-white');
						$('.Gnb').css('border-bottom', '1px solid #e6e6e6');
						$('.Gnb').css('background', '#fff');
						$('.tnb').css('background', '#fff');
					} else if (destination.index == 3) {
						$('#header').removeClass('background-white');
						$('.Gnb').css('border-bottom', '1px solid #e6e6e6');
						$('.Gnb').css('background', '#fff');
						$('.tnb').css('background', '#fff');
					} else {
						$('#header').removeClass('background-white');
						$('.Gnb').css('border-bottom', '1px solid #e6e6e6');
						$('.Gnb').css('background', '#fff');
						$('.tnb').css('background', '#fff');
					}
				},
				afterResponsive: function (isResponsive) {},
			});
		}

		fullPage();

		// 모바일일 경우 fullpage 미사용
		if ($(window).width() < 1025) {
			if ($('#fullpage').hasClass('fp-destroyed')) {
			} else {
				fullpage_api.destroy('all');
			}
		} else {
			fullPage();
		}

		// 리사이즈 될때 모바일 화면에서 fullpage 미사용
		$(window).resize(function (e) {
			if ($(window).width() < 1025) {
				if ($('#fullpage').hasClass('fp-destroyed')) {
				} else {
					fullpage_api.destroy('all');
				}
			} else {
				fullPage();
			}
		});
	</script>
	<script>
		var mySwiper = new Swiper('.mySwiper', {
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: {
				delay: 5000,
				disableOnInteraction: false,
			},
			effect: 'fade',
			loop: true,
			pagination: {
				el: '.swiper-pagination',
				type: 'fraction',
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
		$('.start').on('click', function () {
			mySwiper.autoplay.start();
			return false;
		});
		$('.stop').on('click', function () {
			mySwiper.autoplay.stop();
			return false;
		});
	</script>
</html>
